.page {
    height: 100vh;
}

.back-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

.element {
    cursor: pointer;
}
